@media screen and (min-width: 992px) {
    .login-form {
        width: 50%;
    }
}

.login-form {
    margin: 2em auto;
    padding: 2rem 3rem 2rem 3rem;
}

.login-form h1 {
    margin-bottom: 2rem;
}

.login-form .form-submit {
    margin-top: 1rem;
}
