@media screen and (min-width: 992px) {
    .homepage-nav-items {
        padding-left: 6em !important;
    }
    
    .app-nav-items {
        padding-left: 0.5em !important;
    }
}

.app-header {
    background-color: #ae5a41;
    font-weight: 500;
}

.app-header * {
    color: #fff !important;
    background-color: #ae5a41 !important;
}

.nav-items div {
    margin: 0 0.5rem;
}

.nav-items a:not(.dropdown-item):hover {
    text-decoration: underline;
}

.navbar-toggler {
    border-color: rgba(255, 255, 255, 0.7) !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.dropdown-menu {
    padding: 0 !important;
}

.dropdown-item {
    margin: 0 !important;
    display: block;
    padding: 0.8rem !important;
}

.dropdown-item:hover {
    background-color: #7A3F2D !important;
}
