.shared-item {
    text-align: left;
    margin: 0 15%;
}

.item-info {
    font-size: 0.7em;
}

.item-info li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
}

.item-info li:not(:last-of-type)::after {
    content: '\2022';
    margin-left: 1em;
}

.item-details-info {
    font-size: 0.7em;
}

.item-details-info li {
    display: inline-block;
    list-style-type: none;
    margin-left: 1em;
}

.underlined::after {
    display: block;
    margin: 0.5rem auto 0 auto;
    border-bottom: 1px solid #dee2e6;
    width: 35%;
    content: '';
}

.item-details-info li:nth-of-type(1) {
    margin-left: 0;
}

.item-details-info li:not(:last-of-type)::after {
    content: '\2022';
    margin-left: 1em;
}

.item-info-label {
    font-weight: bold;
    margin-right: 1em;
    text-align: left;
}

.item-info-data {
    text-align: left;
    margin-left: 0.5em;
}

.accordion-flush-header {
    border-bottom: 1px solid #dee2e6;
}

.accordion-flush-header .accordion-button:not(.collapsed) {
    background-color: #fff !important;
    color: #000 !important;
}

.accordion-flush-header .accordion-button:focus {
    outline: none !important;
    box-shadow: none !important;
}
