@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

.App {
    text-align: center;
}

.form-control:focus {
    box-shadow: 0 0 0.6rem rgba(206, 212, 218, 0.6) !important;
    border-color: #ae5a41;
}

.btn-success {
    background-color: #7bc043 !important;
}

.btn-warning {
    background-color: #fcf27e !important;
    color: #636250 !important;
    border: 1px solid #beb760;
}

.btn-danger {
    background-color: #ee4035 !important;
}

.form-switch .form-check-input {
    border-radius: 0.8rem !important;
}

.form-check-input:focus {
    box-shadow: 0 0 0.6rem rgba(206, 212, 218, 0.6) !important;
    border-color: #ae5a41 !important;
}

.form-check-input:checked {
    box-shadow: 0 0 0.6rem rgba(206, 212, 218, 0.6) !important;
    background-color: #ae5a41;
    border-color: #ae5a41 !important;
}

